/*#!less*/

div.multiple div.controls-row {
	a {
		width: 50px;
		float: right !important;
	}
	
	div.input {
		margin-right: 50px;
		
		select {
			width: 100%;
		}
		
		li.search-field input {
			height: 16px !important;
		}
	}
}

div.multiple div.picker {
	display: inline-block;
    position: relative;
    top: 10px;
	
	div.input {
		display: none;
	}
	
	div.controls-row a.btn {
		float: none !important;
		width: auto;
	}
}

div.multipleToolbar {
	margin: 10px 0;
	
	.chzn-container .chzn-single {
		height: 24px;
		top: -1px;
	}
}

table.multipleList {
	width: 100%;
}

table.multipleList td {
	vertical-align: middle;
}

table.multipleList th {
	border-bottom: 1px solid #ddd;
}

table.multipleList td:first-child {
	display: none;
}

table.multipleList tr.template {
	display: none;
}

table.multipleList.hideMainColumn td.main,
table.multipleList.hideMainColumn th.main {
	display: none;
} 

span.or {
	position: relative;
	width: 70px;
	display: inline-block;
	text-align: center;
	margin: 0 5px;
}

span.or:before, span.or:after {
	display: block;
	position: absolute;
	left: 0px;
	content: '';
	width: 20px;
	top: 10px;
	border-top: 1px solid #DDD;
}

span.or:after {
	left: 50px;
}