html {
    background-color: #EB6864;
}

body {
    margin: 100px auto;
    max-width: 80%;
    padding: 40px;
    border-radius: 10px;

    font: 13px sans-serif;
}

header {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 40px;
    margin: -40px -40px 40px -40px;
}

h1 {
    margin: 0;
}

h1 img {
    float: right;
}

#details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    margin: -50px -40px 40px -40px;
    padding: 40px;

    background-color: #FFF;
    border-top: 1px solid #b62c27;

    border-radius: 0 0 10px 10px;

    -webkit-transition: max-height 10s ease-out;
    transition: max-height 10s ease-out;
}

#details:target {
    max-height: 9999px;
    opacity: 1;
}

summary {
    background: #F1F1F1 no-repeat 10px 10px;
    border: 1px solid silver;
    padding: 10px 10px 10px 70px;
}

a {
	color: #eb6864;
}

a:hover {
	color: #b62c27;
}

code {
	background-color: #F1F1F1;
	padding: 1px 5px;
	margin-bottom: 4px;
	display: inline-block;
}

h2 {
	color: #eb6864;
}

span > a {
	color: #b62c27;
}
