.sidebar-nav .btn-group {
    margin-bottom: 30px;
}

.jqtree-toggler:hover {
	text-decoration: none;
}

li.jqtree-common:hover .jqtree-title {
	text-decoration: underline;
}

.jqtree-tree .jqtree-title .badge-icon i {
    opacity: 0.2;
}

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
	content: url(../../assets/media/loading-cms.gif);
	margin-left: 8px;
	margin-top: 3px;
	position: absolute;
}

ul.jqtree-tree li > .jqtree-element:hover {
    background: #e8f8fd !important;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element {
    background: #cde6ff !important;
    text-shadow: none !important;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element .jqtree-title, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover .jqtree-title {
    color: black !important;
}

ul.jqtree-tree .jqtree-toggler {
    left: -12px;
    top: 22%;
    color: #aaa;
}

hr {
    border-bottom: 1px solid #999;
}
