# ignore windows files
Thumbs.db
desktop.ini

# ignore IDE files
nbproject/
*.sublime-project
*.sublime-workspace
.buildpath
.project

# ignore Ajde files
src/public/images/uploads/*
src/public/js/_core/crud/editor/ckeditor/lib/*
.settings
