/*#!less*/

table.order {
    img {
        float: right;
    }
}

table.order-table {
    > tbody > tr > td:first-child {
        white-space: nowrap;
        padding-right: 20px;
    }
    > tbody > tr > td:not(:first-child) {
        font-weight: bold;
        width: 80%;
    }
}