div.filelist img.icon {
	vertical-align: middle;
}

div.filelist a.imagePreview.img {
	border-bottom: none !important;
    text-decoration: none !important;
    margin-bottom: 10px;
    display: block;
}

div.filebrowser {
	float: left;
	margin-top: 10px;
}

div.media .ACAjaxUpload {
    float: left;
    margin-right: 10px;
	position: absolute;
}

span.qq-filename {
	display: block;
	color: white;
	height: 0;
}

span.qq-filename a {
	float: left;
}

.embed {
    margin-left: 140px;
	min-height: 40px;
}

.preview {
    clear: both;
}

.pointerControls {
	min-height: 40px;
}

.preview .imagePreview.img img {
	min-width: 100%;
}