	/*#!less*/

div.picker div.controls-row {
	position: relative;
	
	a.btn {
		width: 50px;
		float: right !important;
	}
	
	div.input {
		margin-right: 62px;
		
		input {
			width: 100%;
		}
	}
	
	a.setnull {
		position: absolute;
		right: 55px;
		top: 5px;
	}
	
	div.input.with-image + a.setnull {
		display: none;
	}
	
	div.input.with-image:hover + a.setnull,
	div.input.with-image + a.setnull:hover {
		display: block;
		right: 65px;
	}
}