.picker-container {
	padding-top: 7px;
}

.picker {
	margin-bottom: 0;
}

.picker-label {
	font-weight: 300;
	padding-left: 0;
	color: inherit !important;
}

.picker-handle {
	height: 14px !important;
	width: 14px !important;
}