div.grid {
	position: relative;
	display: inline-block;
	width: auto;
	height: 300px;
	left: 20px;
	top: 20px;
}

div.grid .screen {
	position: relative;
	top: -20px;
	left: -20px;
	background-color: silver;
	padding: 365px 20px 10px 0;

	height: auto;
	width: 385px;

	text-align: right;
}

div.grid .mobile {
	position: absolute;
	top: -20px;
	left: -20px;
	background-color: gray;
	padding: 335px 5px 10px 20px;

	height: auto;
	width: 150px;

	text-align: left;
}

div.grid .item {
	position: absolute;
	display: inline-block;
	background-color: black;
	border: 1px solid white;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

div.grid .item .image {
	display: none;
	border: 1px solid #555;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.grid:hover .item .image {
	display: block;
}