.analytics {
    min-height: 200px;
    background-image: url('../../assets/media/loading-cms.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.analytics.ready {
    min-height: 0;
    background-image: none;
}
