/*#!less*/

.portfolio-item {

	.media-container {

		height: 350px;

		.media {
			height: 350px;
		}

		.media.image {			
			background-size: cover;
		}
	}

	a.button {

        &.prev, &.next {
            top: 145px;
        }
    }
}