/*#!less*/

.portfolio-item {

	.title {
		background-color: @black;		
		height: 60px;
		padding: 20px 10px 10px 10px;

		h2 {
			font-size: 25px;
			margin-bottom: 7px;
		}

		h3 {
			font-size: 15px;
		}
	}

	.media-container {

		height: 250px;

		.media {
			height: 250px;
		}

		.media.image {			
			background-size: cover;
		}
	}

	.sidebar {
		width: 100px;
		padding: 15px;

		.date {
			margin-bottom: 10px;
			line-height: 30px;
			height: 30px;
			overflow: hidden;
		}

		.tags {
			
		}
	}

	a.button {

        &.close {
			top: 0;
			right: 0;

			font-size: 50px;
			line-height: 13px;
			text-indent: 7px;

			width: 40px;
			height: 40px;

			background-color: transparent;  			
			color: white;
        }

        &.prev, &.next {
            top: 95px;
        }
	}

	.description {
		margin-left: 120px;
		padding: 10px 20px;
		min-height: 125px;

		text-transform: uppercase;
		word-spacing: 1px;
		line-height: 25px;
	}

	&.static {

		.media-container {
			height: 200px;

			.media {
				height: 200px;
			}
		}

		.sidebar {

			overflow: hidden;
				
			.custom {
				text-transform: uppercase;
				font-weight: 400;
				color: @black;

				line-height: 20px;

				h1, h2, h3 {
					color: @black;
					font-size: 1em;
					font-weight: 700;
					margin-bottom: 20px;
				}
			}
		}

		.description {
			line-height: 15px;

			h1, h2, h3 {
				margin-top: 6px;
				font-size: 1em;
			}

			form input, form textarea {
				width: 130px;
			}
		}
	}

}