/*#!less*/

.page-header h1 .badge {
	line-height: inherit;
	font-size: 0.7em;
	display: inline;
	height: 43px;
	float: left;
	margin-right: 10px;
	position: relative;
	top: -10px;
	padding-top: 28px;
	
	.caret {
		border-top: 4px solid #fff;
	}
}

.mainFilterToggle {
	text-decoration: none !important;
	
	.mainFilterLabel + .caret {
		border-top: 10px solid #007fff;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}
}

fieldset.crud {

    position: relative;

    margin-bottom: 40px;
    border: 10px solid white;
    outline: 1px solid #eee;

    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;

    &:hover {
        outline: 20px solid #eee;
        border: 10px solid #eee;
        background-color: #eee;
        z-index: 30;
    }

    input.emphasis[type=text] {
        font-size: 1.5em;
        height: auto;
    }
    
    textarea {
    	height: 20em;
    }
    
    textarea.noRichText {
    	height: 10em;
    }

    .chosen-container {
        width: 100% !important;
    }

	span.validation-message {
		color: #fff !important;
	}
	
	a.imagePreview img {
		background-image: url('../../public/media/checkerboard.png');
	}

    > div.controls {
        margin-left: 190px;
    }
	
	div.control-group {

        margin: 10px;

		&:last-child {
/*			margin-bottom: 0;*/
		}
		
		.help-inline {
			background-color: #EEE;
			padding: 3px 9px;
			font-size: 11.844px;
			line-height: 14px;
			height: auto;
			display: inline-block;
			vertical-align: baseline;
		}
		
		&.error {
			.picker-container + .help-inline {
				margin-top: 20px;
			}
		}
		
		&.dynamic {
			opacity: 0.01;
			max-height: 1px;
			overflow: hidden;
		}
		
		&.hidden {
			display: none !important;
		}
		
		&:not(.error) {
			.validation-message {
				display: none !important;
			}
		}
	}
    
    &.sidebar {
        legend {
            background-color: #eee;
            text-indent: 10px;
        }
    }

    &.well {
        div.control-group {
            margin: 10px 0 10px 0;
        }

        legend {
            background-color: inherit;
            text-indent: inherit;
        }
    }
	
	&.primary {
		background-color: #9954BB;
		padding: 19px;
		margin-bottom: 20px;
		
		label, legend {
			color: #FFF !important;
		}
				
		&:not(.sidebar) {
			.control-label {
				width: 140px;
			}
			.controls {
				margin-left: 160px;
			}
		}
	}
    
    &:last-child {
//        margin-bottom: 0;
    }
	
	&.narrow {
		.control-group {
			margin-bottom: 0;
		}
	}
	
	&.short {
		.control-label {
			width: 100px;
		}
		.controls {
			margin-left: 120px;
			min-height: 30px;
		}
	}
	
	.picker-container {
		.picker-radio:last-child {
			position: relative;
			overflow: visible;
		}
		
		.validation-message {
			display: inline;
			position: absolute;
			top: 14px;
			left: 0;
		}
	}
	
	.gray {
		color: silver;
	}

    &.well {
        div.control-group {
            .help-inline {
                background-color: #ddd;
            }
        }
    }

}

.page-actions {
    margin-top: -30px;
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;

    a {


        &.active {
            color: black;
        }
    }
}

.form-actions {

    .autosave-status {
        margin-left: 10px;

        -webkit-transition: background-color 1s ease-out, color 1s ease-out;
        transition: background-color 1s ease-out, color 1s ease-out;

        &.flash {
            background-color: #0f82f5;
            color: white;

            -webkit-transition: all 0s ease-out;
            transition: all 0s ease-out;
        }

        &.active {
            background-image: url('../../public/media/loading-cms.gif');
            background-repeat: no-repeat;
            background-position: 0 50%;
            padding-left: 20px;
        }
    }

    &.fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        padding-left: 50px;
        left: 0;
        z-index: 20;

        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        &.no-offset {
            left: 0 !important;
        }
    }
}

.fancybox-skin {
	background-color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.fancybox-title-float-wrap .child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent;
}

body .showInIframe {
	display: none;
}

body.iframe {
	.container {
		width: 90%;
	}
	.hideInIframe {
		display: none !important;
	}
	.showInIframe {
		display: block;
	}
	.expandInIframe {
		margin-left: 0;
	}
	a.btn.showInIframe {
		display: inline-block;
	}
    .form-actions.fixed {
        left: 0 !important;
    }
}

/** COLLAPSE FOR SIDEBAR AND SMALL SCREENS **/

.form-horizontal .sidebar .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
}

.form-horizontal .sidebar .controls {
    margin-left: 0;
}

.form-horizontal .left .control-label {
    text-align: left;
    width: 120px;
}

.form-horizontal .left .controls {
    margin-left: 120px;
}

@media (max-width: 1200px) {
    .form-horizontal .form-actions {
        padding-right: 10px;
        padding-left: 10px;
    }

    .form-horizontal .control-label {
        float: none;
        width: auto;
        text-align: left;
    }

    .form-horizontal .controls {
        margin-left: 0 !important;
    }

	.form-horizontal fieldset.short {
		.control-label {
			float: left;
		}
	}
}

table.crud {

	td, th {
		border-top: 0;
	}

    th {
        vertical-align: top;
    }

    select, input {
        margin-bottom: 0;
        font-size: 0.8em;
        color: #777;
    }

    select, input[type=search], input[type=date], input[type=text] {
        &.active {
            border: 2px solid #007fff;
        }
    }

    input[type=date]:first-child {
        margin-bottom: 2px;
    }

    thead {
        tr {
            &.filters {
                display: none;

				&.visible {
					display: table-row;
				}

                &.view {
                    border-bottom: 1px solid #eee;

                    td {
                        padding-bottom: 40px;

                        > div {
                            width: 75%;
                            text-align: right;
                        }
                    }

                    select {
                        width: 100% !important;
                    }
                }

                b, a {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 0.8em;
                    color: @gray;
                }

                .chosen-container {
                    text-align: left;
                    width: 100% !important;
                }

                input, select {
                    width: auto !important;
                }
            }

            &.toolbar {
				white-space: nowrap;

                .itemAction {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
				}

				.uploadButton {
					min-width: 300px;
				}

                .toolbarButton {
                    display: inline-block;
                }
            }

            th {
                white-space: nowrap;

                &.main {
                    width: 100%;
                }

                input.search {
                    width: 100%;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    height: auto;
//                    border: 1px solid #007fff;

                    -moz-appearance:    textfield;
                    -webkit-appearance: textfield;
                    appearance: textfield;
                }
            }

			td {
				&:last-child {
					text-align: right;
				}
			}
        }
    }

    tbody {
        tr {
            cursor: pointer;

            &.tDnD_whileDrag td {
                background-color: lighten(#0072e6, 45%);
            }

			&.checked {
				td {
					background-color: lighten(#0072e6, 45%);

					&:first-child {
						opacity: 1 !important;
					}
				}
			}

            td {
                vertical-align: middle;
                white-space: nowrap;

                &.main {
                    font-weight: bold;
/*					position: relative;

					span.title {
						position: absolute;
						left: 150px;
					}*/
                }

                &.sort {
                    vertical-align: middle;
                    text-align: center;
                    cursor: move;
                }

                &.sort span {
                    opacity: 0.4;
                    filter: alpha(opacity=40);
                }

                &.sort:hover span {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

                &.sortDisabled {
                    color: gray;
                }

				&.buttons {
					text-align: right;

					a.btn-left {
						text-align: left;
					}

					span.text-slide {
						display: inline-block;
						max-width: 0;
						overflow: hidden;
						height: 15px;

			      -webkit-transition: all 0.3s ease-out;
				     -moz-transition: all 0.3s ease-out;
				       -o-transition: all 0.3s ease-out;
				          transition: all 0.3s ease-out;

					}

					&:hover {

						span.text-slide {
							max-width: 100px;
						}

					}
				}

				.thumbContainer {
					height: 30px;
					overflow: hidden;

                    background-image: url('../../public/media/checkerboard.png');

					img {
						position: relative;
						top: -75%;
						max-width: inherit;
					}
				}

				.tree-spacer {
					display: none;
					border-left: 3px solid #ddd;
					width: 12px;
					margin-left: 7px;
					margin-top: -35px;
					margin-bottom: -1px;
					height: 52px;
					position: relative;
					top: 8px;
				}

				.tree-spacer.last {
					border-bottom: 3px solid #ddd;
					height: 25px;
					top: -4px;
				}
            }

            input.id {
                margin: 0;
            }

			&:first-child {
				.tree-spacer {
					height: 19px;
					margin-bottom: -9px;
				}

				.tree-spacer.last {
					border-color: transparent;
					border-bottom: 3px solid #ddd;
					height: 46px;
					margin-bottom: -8px;
				}
			}

			&.panel {
				max-height: 0;
				overflow: hidden;
				z-index: 4;

				position: fixed;
				bottom: -20px;
				left: 0;
				right: 0;

				background-color: #cde6ff;

  /*-webkit-box-shadow: 0px 0px 10px 5px #8a8a8a;
          box-shadow: 0px 0px 10px 5px #8a8a8a;*/

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

          		opacity: 0.9;

          		pointer-events: none;

				table {
					background-color: inherit !important;
				}

				th {
					text-align: right;
				}

				td, th {
					cursor: default !important;
					background-color: inherit !important;
					white-space: normal;

					input {
						cursor: pointer;
						border: 1px solid transparent;

						&:hover {
							background-color: #e8f8fd;
						}

						&:focus {
							border: 1px solid #eee;
							cursor: default;
							z-index: 10;

							&:invalid {
								border-color: #E9322D;
							}
						}
					}



					h3 {
						font-size: 1.2em;
						line-height: 1.2em;
						margin: 0 0 8px 0;
						padding: 8px 5px 4px 5px;
						border-bottom: 1px solid #EEE;

						input {
							font-size: 1em;
							position: relative;
							left: -6px;
							color: black;
						}
					}

					table {
						margin-bottom: 0;

						td {
							position: relative;

							> span {
								padding-left: 7px;
							}
						}

						input {
							/*position: absolute;*/
							top: 3px;
							font-size: 1em;
							margin-top: -3px;

							&.input-large {
								width: 210px !important;
							}
						}

						img.padding-right {
							padding-right: 10px;
						}
					}
				}

				&.expand {
					bottom: 0;
					z-index: 3;

  -webkit-transition: inherit;
     -moz-transition: inherit;
       -o-transition: inherit;
          transition: inherit;

					max-height: 300px;
				}
			}
        }
    }

    tfoot {
		tr {

			td {
				&:last-child {
					text-align: right;
					white-space: nowrap;

					span {
						font-size: 0.8em;
						color: #777;
					}
				}

				.pagination {
					margin: 0;

					.page {
						width: 15px;
					}
				}
				.pageSize {
					width: 70px;
				}
			}
		}
    }

	/**** GRID VIEW ****/

	&.grid {

        td, th {
            padding: 8px;
        }

		thead {
			display: block;

			tr {
				width: 100%;

				th {
					width: 50%;

					&:first-child {
						width: 0;
						padding: 0;
					}
				}
			}
		}

		tbody {
			display: block;
			margin-left: 37px;

			tr {
				display: block;
				position: relative;
				width: 20%;
				float: left;
				padding-bottom: 1px;

				&:last-child {
					padding-bottom: 10px;

					td.buttons {
						bottom: 10px;
					}
				}

				td {
					display: block;
					border: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-right: 1px;

					&:first-child {
						/*float: left;*/
						position: absolute;
						right: 0;
						opacity: 0;
						z-index: 99;
					}

					&.main {
						font-size: 1.2em;
						background-color: black;
						color: white;
					}

					&.buttons {
						position: absolute;
						z-index: 100;
						bottom: 1px;
						right: 8px;
						padding: 0;
						opacity: 0;
					}

					&.sort,
					&.sortDisabled,
					&[data-grid=hide] {
						display: none;
					}

					.thumbContainer {
						height: auto;

						img {
							top: auto;
							max-width: 100%;
						}
					}

					.tree-spacer {
						display: none;
					}
				}

				&:hover {
					td {
						&:first-child {
							opacity: 1;
						}
						&.buttons {
							opacity: 1;
						}
					}
				}

				&.panel {
					display: none;
				}
			}
		}

		tfoot {
			clear: both;
			display: block;

			tr {
				width: 100%;

				td {
					width: 50%;

					&:first-child {
						padding: 15px;
						width: auto;
					}
				}
			}
		}
	}

	&.sorted {
		.tree-spacer {
			display: inline-block;
		}
	}
}

.mainFilterButtons .btn {
	font-size: 0.4em;
	line-height: 1.3em;
	margin-bottom: 10px;
}

.mainFilterButtons div.grouper {
	margin-top: 10px;
	line-height: 9px;
	height: 10px;

	span.badge {
		clear: both;
		float: none;
		line-height: 1.3em;
		font-size: 0.25em;
		padding: 3px 7px;
		text-transform: uppercase;
	}

	&:first-of-type {
		margin-top: 0;
	}
}

table.revisions {
    table-layout: fixed;

    tr.collapsed {
        td {
            display: none;
            position: relative;
        }
    }
    tr.repeat {
        td {
            border: none;
        }
        .time {
            color: silver;
            font-size: 0.8em;
        }
        .user {
            text-indent: -9999px;
        }
    }
    tr {
        .time, .user, .field {
            white-space: nowrap;
        }
    }

    .label {
        padding: 5px 1px 5px 5px;
    }

    .text-diff {
        display: inline-block;
        font-family: monospace;

        ins {
            background-color: #dfd;
        }

        del {
            background-color: #fdd;
        }

        span {
            background-color: #eee;
        }
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0;
        border: 0;
    }
}

@media screen and (min-width: 768px) {

	.sidebar-nav {

		position: fixed;
		top: 50px;
		left: 0;
		bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		width: 20%;

	}

	.span0 .sidebar-nav {
		width: inherit;
		padding: 14px 0;
		overflow: hidden;
	}

	.span0 .sidebar-nav .menu-toggle {
		float: none;
	}

	.offset05 {
		margin-left: 42px;
	}

    .form-actions.fixed {
        left: 20%;
    }

}