/**
 * Styles for Core.Alert
 */
 
#alert-wrapper {
	position: fixed;
	display: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	
  background-color: transparent;
  background-color: rgba(0, 127, 255, 0.8); 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC007fff',endColorstr='#CC007fff');
            zoom: 1;
			
	z-index: 999;	
	cursor: pointer;
}

#alert-content {	
	margin: 15px 20px 15px;
	color: white;
	font-size: 20px;
}

#alert-text {
    margin: 0;
}

#alert-wrapper.warning {
  background-color: transparent;
  background-color: rgba(254, 120, 30, 0.9);  
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5fe781e',endColorstr='#E5fe781e'); 
            zoom: 1;
}
#alert-wrapper.warning #alert-content { color: white; }

#alert-wrapper.error {
  background-color: transparent;
  background-color: rgba(245, 15, 67, 0.89);  
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5f50f43',endColorstr='#E5f50f43'); 
            zoom: 1;
}
#alert-wrapper.error #alert-content { color: white; }
	