/*#!less*/

table.crud.grid tbody tr.client,
table.crud.grid tbody tr.project,
table.crud.grid tbody tr.streak
{
	display: none;
}

table.crud tbody tr.client,
table.crud tbody tr.project,
table.crud tbody tr.streak
{
	td.main span.title {
		text-transform: uppercase;
		color: gray;
		font-size: 0.9em;
	}
	
	td.main span.badge {
		text-indent: -999px;
		background-color: rgba(0, 0, 0, 0);
		width: 10px;
		padding: 0;
	}
	
	td.sort span {
		display: none;
	}
	
	td.buttons .btn {
		display: none;
	}
	
	td.buttons .btn.new-issue {
		display: inherit;
	}
}

table.crud tbody tr.issue
{
	td.main span.badge {
		margin-left: 25px;
	}
}

table.crud tbody tr.issue {
	td.buttons .btn.new-issue {
		display: none;
	}
}

table.crud tbody tr td.buttons {
	text-align: left !important;
}

table.crud.grid tbody {
	td i.icon- {
		display: none;
	}
}
