.qq-upload-list {
    text-align: left !important;
}

/* For the bootstrapped demos */
li.alert-success {
    background-color: #3fb618;
}

li.alert-error {
    background-color: #ff0039;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

.qq-progress-bar {
    border-radius: 0;
    background: #0f82f5;
    height: 5px;
    margin-bottom: 10px;
}