/*#!less*/

fieldset.crud {
    input.emphasis[type=text] {
        font-size: 1.5em;
        height: auto;
    }
    
    textarea {
    	height: 20em;
    }
    
    textarea.noRichText {
    	height: 10em;
    }
    
    &.sidebar {
        
    }
    
    &:last-child {
        margin-bottom: 0;
    }

}

/** COLLAPSE FOR SIDEBAR AND SMALL SCREENS **/

.form-horizontal .sidebar .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
}

.form-horizontal .sidebar .controls {
    margin-left: 0;
}

@media (max-width: 1200px) {
    .form-horizontal .form-actions {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }
    
    .form-horizontal .controls {
        margin-left: 0;
    }
}

table.crud {
	
    select, input {
        margin-bottom: 0;
        font-size: 0.8em;
        color: #777;
    }
    
    thead {
        tr {
            &.filters {
                display: none;
				
				&.visible {
					display: table-row;
				}
            }
            
            &.toolbar {
				white-space: nowrap;
				
                .delete {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
                }            
            }

            th {
                white-space: nowrap;

                &.main {
                    width: 100%;
                }

                input.search {
                    font-size: 1.5em;
                    line-height: 1.5em;
                    height: auto;
                    border: 1px solid #007fff;

                    -moz-appearance:    textfield;
                    -webkit-appearance: textfield;
                    appearance: textfield;
                }
            }
			
			td {
				&:last-child {
					text-align: right;
				}
			}
        }
    }
    
    tbody {
        tr {
            cursor: pointer;
            
            &.tDnD_whileDrag td {
                background-color: lighten(#0072e6, 45%);
            }
			
			&.checked td {
				background-color: lighten(#0072e6, 45%);
			}
			
            td {
                vertical-align: middle;
                white-space: nowrap;
                
                &.main {
                    font-weight: bold;
                }
                
                &.sort {
                    vertical-align: middle;
                    text-align: center;
                    cursor: move;
                }

                &.sort span {
                    opacity: 0.4;
                    filter: alpha(opacity=40);
                }

                &.sort:hover span {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

                &.sortDisabled {
                    color: gray;
                }
				
				&.buttons {
					text-align: right;
				}
				
				.thumbContainer {
					height: 30px;
					overflow: hidden;
					
					img {
						position: relative;
						top: -200%;
					}
				}
            }
            
            input.id {
                margin: 0;
            }
        }
    }
    
    tfoot {
		tr {

			td {
				&:last-child {
					text-align: right;
					white-space: nowrap;
					
					span {
						font-size: 0.8em;
						color: #777;
					}
				}
				
				.pagination {
					margin: 0;

					.page {
						width: 15px;
					}
				}
				.pageSize {
					width: 70px;
				}
			}
		}
    }
	
	/**** GRID VIEW ****/
	
	&.grid {
		
		thead {
			display: block;
			
			tr {
				width: 100%;
				
				th {
					&:first-child {
						padding: 15px;
					}
				}
			}
		}
		
		tbody {
			display: block;
			margin-left: 37px;
			
			tr {				
				display: block;
				position: relative;
				width: 20%;
				float: left;
				padding-bottom: 22px;
								
				td {
					display: block;
					border: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					
					&:first-child {
						float: left;
					}
					
					&.main {
						font-size: 1.2em;
					}
					
					&.buttons {
						position: absolute;
						z-index: 99;
						bottom: 12px;
						right: 0;					
						padding: 0;
						opacity: 0;
					}
					
					&.sort,
					&.sortDisabled,
					&[data-grid=hide] {
						display: none;
					}
					
					.thumbContainer {
						height: auto;

						img {
							top: auto;
						}
					}					
				}
				
				&:hover {
					td {
						&.buttons {
							opacity: 1;
						}
					}
				}
			}
		}
		
		tfoot {
			clear: both;
			display: block;
			
			tr {
				width: 100%;
				
				td {
					width: 50%;
					
					&:first-child {
						padding: 15px;
						width: auto;
					}
				}
			}
		}		
	}
}