/*#!less*/

body {
	padding-top: 80px;
}

.hero-unit h1 {
	margin-bottom: 0.2em;
}

.menu-toggle {
	margin: -19px -19px 0 0;
}

.row-fluid > div {
	-webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
	
	&.no-animation {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
}

.row-fluid .span0 {
	width: 42px !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;	
	
	ul {
		opacity: 0;
		pointer-events: none;
	}
}

.sidebar-nav {
	overflow: hidden;
	white-space: nowrap;
	margin-top: 110px;
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	
	.nav-collapse .navbar-text {
		display: none;
	}
	
	.sidebar-nav {
		padding: 5px 0 !important;
	}
	
	.menu-toggle {
		margin: -5px 0;
	}
	
	.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
		color: #fff !important;
	}
}

@media (max-width: 767px) {
	.row-fluid .span0 {
		height: 30px !important;
	}
	
	.sidebar-nav {
		margin-top: auto ;
	}
	
	/**** CRUD GRID VIEW ****/	
	table.crud.grid {
		display: block;
		
		thead {
			tr {			
				&:first-child {
					display: none;
				}
				
				th {
					width: 100% !important;
					
					&:first-child {
						width: 0 !important;
					}
				}
			}
		}
				
		tbody {
			margin-left: 0 !important;
			
			tr {				
				width: 50% !important;
			}
		}
		
	}
}