/*#!less*/

.page-header h1 .badge {
	line-height: inherit;
	font-size: 0.7em;
	display: inline;
	height: 57px;
	float: left;
	margin-right: 10px;
	position: relative;
	top: -10px;
	padding-top: 10px;
	
	.caret {
		border-top: 4px solid #fff;
	}
}

fieldset.crud {
    input.emphasis[type=text] {
        font-size: 1.5em;
        height: auto;
    }
    
    textarea {
    	height: 20em;
    }
    
    textarea.noRichText {
    	height: 10em;
    }
	
	span.validation-message {
		color: #fff !important;
	}
	
	div.control-group {
		&:last-child {
/*			margin-bottom: 0;*/
		}
		
		.help-inline {
			background-color: #EEE;
			padding: 3px 9px;
			font-size: 11.844px;
			line-height: 14px;
			height: auto;
			display: inline-block;
			vertical-align: baseline;
		}
		
		&.error {
			.picker-container + .help-inline {
				margin-top: 20px;
			}
		}
		
		&.dynamic {
			opacity: 0.01;
			max-height: 1px;
			overflow: hidden;
		}
		
		&:not(.error) {
			.validation-message {
				display: none !important;
			}
		}
	}
    
    &.sidebar {
        
    }
	
	&.primary {
		background-color: #9954BB;
		padding: 19px;
		margin-bottom: 20px;
		
		label {
			color: #FFF !important;
		}
		
		&:not(.sidebar) {
			.control-label {
				width: 140px;
			}
			.controls {
				margin-left: 160px;
			}
		}
	}
    
    &:last-child {
        margin-bottom: 0;
    }
	
	&.narrow {
		.control-group {
			margin-bottom: 0;
		}
	}
	
	&.short {
		.control-label {
			width: 100px;
		}
		.controls {
			margin-left: 120px;
			min-height: 30px;
		}
	}
	
	.picker-container {
		.picker-radio:last-child {
			position: relative;
			overflow: visible;
		}
		
		.validation-message {
			display: inline;
			position: absolute;
			top: 14px;
			left: 0;
		}
	}
	
	.gray {
		color: silver;
	}

}

.fancybox-skin {
	background-color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.fancybox-title-float-wrap .child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent;	
}

body .showInIframe {
	display: none;
}

body.iframe {
	.hideInIframe {
		display: none !important;
	}
	.showInIframe {
		display: block;
	}
	a.btn.showInIframe {
		display: inline-block;
	}
}

/** COLLAPSE FOR SIDEBAR AND SMALL SCREENS **/

.form-horizontal .sidebar .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
}

.form-horizontal .sidebar .controls {
    margin-left: 0;
}

@media (max-width: 1200px) {
    .form-horizontal .form-actions {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .form-horizontal .control-label {
        float: none;
        width: auto;
        text-align: left;
    }
    
    .form-horizontal .controls {
        margin-left: 0;
    }
	
	.form-horizontal fieldset.short {
		.control-label {
			float: left;
		}		
	}
}

table.crud {
	
	td, th {
		border-top: 0;
	}
	
    select, input {
        margin-bottom: 0;
        font-size: 0.8em;
        color: #777;
    }
    
    thead {
        tr {
            &.filters {
                display: none;
				
				&.visible {
					display: table-row;
				}
            }
            
            &.toolbar {
				white-space: nowrap;
				
                .delete {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
				}
				
				.uploadButton {
					min-width: 300px;
				}
            }

            th {
                white-space: nowrap;

                &.main {
                    width: 100%;
                }

                input.search {
                    font-size: 1.5em;
                    line-height: 1.5em;
                    height: auto;
                    border: 1px solid #007fff;

                    -moz-appearance:    textfield;
                    -webkit-appearance: textfield;
                    appearance: textfield;
                }
            }
			
			td {
				&:last-child {
					text-align: right;
				}
			}
        }
    }
    
    tbody {
        tr {
            cursor: pointer;
            
            &.tDnD_whileDrag td {
                background-color: lighten(#0072e6, 45%);
            }
			
			&.checked {
				td {
					background-color: lighten(#0072e6, 45%);
					
					&:first-child {
						opacity: 1 !important;
					}
				}
			}
			
            td {
                vertical-align: middle;
                white-space: nowrap;
                
                &.main {
                    font-weight: bold;
                }
                
                &.sort {
                    vertical-align: middle;
                    text-align: center;
                    cursor: move;
                }

                &.sort span {
                    opacity: 0.4;
                    filter: alpha(opacity=40);
                }

                &.sort:hover span {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

                &.sortDisabled {
                    color: gray;
                }
				
				&.buttons {
					text-align: right;
				}
				
				.thumbContainer {
					height: 30px;
					overflow: hidden;
					
					img {
						position: relative;
						top: -200%;
					}
				}
				
				.tree-spacer {
					display: inline-block;
					border-left: 3px solid #DDD;
					width: 20px;
					margin-left: 0;
					margin-top: -23px;
					height: 46px;
					margin-bottom: -8px;
				}
            }
            
            input.id {
                margin: 0;
            }
        }
    }
    
    tfoot {
		tr {

			td {
				&:last-child {
					text-align: right;
					white-space: nowrap;
					
					span {
						font-size: 0.8em;
						color: #777;
					}
				}
				
				.pagination {
					margin: 0;

					.page {
						width: 15px;
					}
				}
				.pageSize {
					width: 70px;
				}
			}
		}
    }
	
	/**** GRID VIEW ****/
	
	&.grid {
		
		thead {
			display: block;
			
			tr {
				width: 100%;
				
				th {
					width: 50%;
					
					&:first-child {
						width: 0;
						padding: 0;
					}
				}
			}
		}
		
		tbody {
			display: block;
			margin-left: 37px;
			
			tr {				
				display: block;
				position: relative;
				width: 20%;
				float: left;
				padding-bottom: 1px;
				
				&:last-child {
					padding-bottom: 10px;
					
					td.buttons {
						bottom: 10px;
					}
				}
								
				td {
					display: block;
					border: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-right: 1px;
					
					&:first-child {
						/*float: left;*/
						position: absolute;
						right: 0;
						opacity: 0;
						z-index: 99;
					}
					
					&.main {
						font-size: 1.2em;
						background-color: black;
						color: white;
					}
					
					&.buttons {
						position: absolute;
						z-index: 100;
						bottom: 1px;
						right: 8px;					
						padding: 0;
						opacity: 0;
					}
					
					&.sort,
					&.sortDisabled,
					&[data-grid=hide] {
						display: none;
					}
					
					.thumbContainer {
						height: auto;

						img {
							top: auto;
						}
					}					
				}
				
				&:hover {
					td {
						&:first-child {
							opacity: 1;
						}
						&.buttons {
							opacity: 1;
						}
					}
				}
			}
		}
		
		tfoot {
			clear: both;
			display: block;
			
			tr {
				width: 100%;
				
				td {
					width: 50%;
					
					&:first-child {
						padding: 15px;
						width: auto;
					}
				}
			}
		}		
	}
}

.mainFilterButtons .btn {
	font-size: 0.4em;
	line-height: 1.3em;
	margin-bottom: 10px;
}

.mainFilterButtons div.grouper {	
	margin-top: 10px;
	line-height: 9px;
	height: 10px;
	
	span.badge {
		clear: both;
		float: none;
		line-height: 1.3em;
		font-size: 0.25em;
		padding: 3px 7px;
		text-transform: uppercase;
	}
	
	&:first-of-type {
		margin-top: 0;
	}
}