/*#!less*/

@height: 20px;
@padding: 16px;

table th {
	width: 12.5%;
}

td.hour {
	padding: 0 8px 16px 8px;
	height: @height;
}

td.blocks {
	height: 20px;
}

a.block {
	display: block;
	position: absolute;
	border: 1px solid black;
	color: white;
	padding: 8px;
	width: 65px;
	font-size: 0.9em;
	line-height: 1em;
	margin-top: -7px;
	overflow: hidden;
	z-index: 5;
}

a.block .badge {
	display: block;
	margin: -8px -8px 8px -8px;
	color: gray;
}

a.block:hover {
	text-decoration: none;
	width: 120px;
	min-height: 71px;
	z-index: 10;
}

a.block.active {
	background-color: #3FB618;
}

a.block.waiting_for_approval {
	background-color: #FF7518;
}

a.block.new {
	background-color: #9954BB;
}

a.block.closed {
	color: black;
	background-color: #DFDFDF;
}

@blockheight: @height + @padding + 1;
@offset: 21px;
@top: 7px;

a.block.height1 { height: 1 * @blockheight - @offset; }
a.block.height2 { height: 2 * @blockheight - @offset; }
a.block.height3 { height: 3 * @blockheight - @offset; }
a.block.height4 { height: 4 * @blockheight - @offset; }
a.block.height5 { height: 5 * @blockheight - @offset; }
a.block.height6 { height: 6 * @blockheight - @offset; }
a.block.height7 { height: 7 * @blockheight - @offset; }
a.block.height8 { height: 8 * @blockheight - @offset; }

a.block.start1 { margin-top: 1 * @blockheight - @top; }
a.block.start2 { margin-top: 2 * @blockheight - @top; }
a.block.start3 { margin-top: 3 * @blockheight - @top; }
a.block.start4 { margin-top: 4 * @blockheight - @top; }
a.block.start5 { margin-top: 5 * @blockheight - @top; }
a.block.start6 { margin-top: 6 * @blockheight - @top; }
a.block.start7 { margin-top: 7 * @blockheight - @top; }
a.block.start8 { margin-top: 8 * @blockheight - @top; }