/*#!less*/

.popover,
.popover table,
.popover table td {
	background-color: white !important;
	color: inherit !important;
}

.popover table {
	margin-bottom: 0;
}

.popover table tr:first-child td {
	border-top: 0;
}