/*#!less*/

table.crud.grid tbody tr.client,
table.crud.grid tbody tr.project,
table.crud.grid tbody tr.streak,
table.crud.grid tbody tr.panel,
table.crud.grid tbody td.main span.badge
{
	display: none;
}

table.crud tbody tr.client,
table.crud tbody tr.project,
table.crud tbody tr.streak
{
	td.main {
		color: silver;
	}
	
	td.sort span {
		display: none;
	}
	
	td.buttons .btn {
		display: none;
	}
	
	td.buttons .btn.new-issue {
		display: inherit;
	}
}

table.crud tbody tr.issue {
	td.buttons .btn.new-issue,
	td.buttons .btn.dropdown-toggle {
		display: none;
	}
}

table.crud tbody tr td.buttons {
	/*text-align: left !important;*/
}

table.crud.grid tbody {
	td i.icon- {
		display: none;
	}
}
